@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FFFFFF;
}

main {
  @apply w-full mx-auto max-w-screen-lg p-4;
}

h1 {
  @apply text-xl my-2;
}

a {
  @apply text-blue-700 underline;
}